.MainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.back-button {
  width: 100%;
  height: 5vh;
  display: flex;
  font-size: 20px;
  background-color: white;
}
.profile1 {
  padding: 16px;
}
.Profile {
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.back-button {
  font-size: 20px;
}

.SubContainer1 {
  display: flex;
}

.user-avatar {
  width: 65px;
  height: 65px;
  padding: 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

.SubContainer1 h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.SubContainer1 p,
.SubContainer1 h6 {
  margin: 4px 0;
  color: #888;
}

.ScrollableContent {
  overflow-y: auto;
  flex: 1;
  padding: 16px;
}

.Container2 {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Container2:last-child{
    margin-bottom: none;
}

.option-list p {
  font-weight: bold;
}

.option-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.option-item:last-child {
  border-bottom: none;
}

.content1 {
  display: flex;
  gap: 10px;
}
