.AContainer {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.Para p {
  background: white;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
